form {
    margin-left: 30px;
  }
  
  .Todo {
    margin-left: auto;
  }
  
  .form-row {
    margin-bottom: 100px;
  }
  
  .form-group {
    margin-bottom: 100px;
  }
  
  .form-row {
    margin-top: 30px;
    margin-bottom: 50px;
  }