form {
  margin-left: 30px;
}

h1 {
  text-align: center;
}

.form-row {
  margin-bottom: 100px;
}

.form-group {
  margin-bottom: 100px;
}

.form-row {
  margin-top: 30px;
  margin-bottom: 50px;
}

.button {
  width: 100%;
}

.btn-agendar,
.btn-cancelar {
  width: 15%;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

.btn-agendar {
  margin-right: 10px;
  background: #f39c12;
}

.btn-cancelar {
  background: #ff3f34;
}
