.table {
  width: 100%;
  background: none;
}

.table-citas {
  width: 85%;
  text-align: center;
  padding: 20px;
  margin: 0px auto;
  margin-top: 50px;
  border: 1px solid rgb(102, 100, 100);
}

h1 {
  text-align: center;
}

th {
  color: #fff;
}

thead {
  background: #1e272e;
}

table .button {
  width: 100%;
  height: 100%;
}

.btn-editar {
  margin-right: 10px;
  width: 40%;
  height: 50%;
  outline: none;
  color: #fff;
  background: #f39c12;
}

.btn-eliminar {
  width: 40%;
  height: 50%;
  outline: none;
  color: #fff;
  background: #ff3f34;
}

.btn-salir {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  width: 10%;
  height: 50%;
  outline: none;
  color: #fff;
  background: #ff3f34;
}

.btn-agendar {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  width: 10%;
  height: 50%;
  outline: none;
  color: #fff;
  background: #05c46b;
}
